<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
      <i class="fa fa-bars"></i>
      <span class="sr-only">Toggle Menu</span>
    </button>
</div>
      <h1><a [routerLink]="['/']" class="logo">Show WIth Us</a></h1>
<ul class="list-unstyled components mb-5">
  <li>
      <a [routerLink]="['/admin-dashboard']"><span class="fa fa-user mr-3"></span> Dashboard</a>
  </li>
  <li>
    <a (click)="logout()"><span class="fas fa-sign-out-alt mr-3"></span> Logout</a>
  </li>
</ul>

</nav>


        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div class="card-body">
                        <h2 class="title">Update Movie Details</h2>
                        <form (ngSubmit)="updateMovie()">
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">                           
                                        <div class="input-group-icon">
                                            Ticket Rate<input class="input--style-4" type="text" placeholder="Ticket Rate" name="ticket_rate" [(ngModel)]="movieData.ticket_rate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        Time Slots<input class="input--style-4" type="text" name="timeSlots" [(ngModel)]="timeSlots">
                                    </div>
                                </div>
                            </div>
                            <div class="p-t-15">
                                <button class="btn btn-primary btn-lg" type="submit"> Update Movie </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button [routerLink]="['/admin-dashboard']" class="btn btn-danger btn-lg" type="button"> Cancel </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
     
		</div>