<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
      <i class="fa fa-bars"></i>
      <span class="sr-only">Toggle Menu</span>
    </button>
</div>
      <h1><a [routerLink]="['/']" class="logo">Show WIth Us</a></h1>
<ul class="list-unstyled components mb-5">
  <li>
      <a [routerLink]="['/my-dashboard']"><span class="fa fa-user mr-3"></span> Dashboard</a>
  </li>
  <!-- <li>
    <a href="#"><span class="fa fa-sticky-note mr-3"></span> My Booking</a>
  </li>
  <li>
    <a href="#"><span class="fas fa-star mr-3"></span> Rate </a>
  </li> -->
  <li>
    <a ><span class="fas fa-sign-out-alt mr-3"></span> Logout</a>
  </li>
</ul>

</nav>


        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div class="card-body">
                        <h2 class="title">Add Movies</h2>
                        <form (ngSubmit)="addMovie(movieForm)" #movieForm="ngForm" enctype="multipart/form-data">
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        Movie
                                        <input class="input--style-4" type="text" placeholder="Movie Name" name="moviename" ngModel>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        Number of Seats
                                        <input class="input--style-4" type="text" placeholder="Enter Number of Seats" name="seats" ngModel>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">                           
                                        <div class="input-group-icon">
                                            Category<input class="input--style-4" type="text" placeholder="Enter the Movie Category" name="category" ngModel>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        Language<input class="input--style-4" type="text" placeholder="Movie Language" name="language" ngModel>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space">
                                <div class="col-2">  Cast
                                    <div class="input-group">
                                        <textarea class="input--style-4" placeholder="Cast Details" name="cast" ngModel></textarea>
                                    </div>
                                </div>  
                                <div class="col-2">  Movie Description
                                    <div class="input-group">
                                        <textarea class="input--style-4" placeholder="Movie Description" name="description" ngModel></textarea>
                                    </div>
                                </div>  
                            </div>
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">                           
                                        <div class="input-group-icon">
                                            Ticket Rate<input class="input--style-4" type="text" placeholder="Ticket Rate" name="ticket_rate" ngModel>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        Upload Image<input class="btn btn-lg" type="file" placeholder="Upload Image" name="image" accept="image/*" ngModel (change)="onFileSelected($event)">
                                        <img [src]="url" height="200">
                                    </div>
                                </div>
                            </div>
                            <div class="p-t-15">
                                <button class="btn btn-primary btn-lg" type="submit"> Add Movie </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button [routerLink]="['/admin-dashboard']" class="btn btn-danger btn-lg" type="button"> Cancel </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
     
		</div>