<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
      <i class="fa fa-bars"></i>
      <span class="sr-only">Toggle Menu</span>
    </button>
</div>
      <h1><a [routerLink]="['/']" class="logo">Show WIth Us</a></h1>
<ul class="list-unstyled components mb-5">
  <li>
      <a [routerLink]="['/my-dashboard']"><span class="fa fa-user mr-3"></span> Dashboard</a>
  </li>
  <li>
    <a [routerLink]="['/my-bookings']"><span class="fa fa-sticky-note mr-3"></span> My Booking</a>
  </li>
  <li>
    <a href="#"><span class="fas fa-star mr-3"></span> Rate </a>
  </li>
  <li>
    <a (click)="logout()"><span class="fas fa-sign-out-alt mr-3"></span> Logout</a>
  </li>
</ul>

</nav>


        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div class="card-body">
                        <h2 class="title">Book Tickets</h2>
                        <form (ngSubmit)="bookTicket()">
                            <div class="row row-space">
                                <div>
                                    <div class="input-group">
                                        Movie
                                        <input class="input--style-5" type="text" placeholder="Movie Name" name="moviename" [(ngModel)]="movieName">
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">                           
                                        <div class="input-group-icon"><br>
                                            <mat-form-field>
                                                <input matInput [matDatepicker]="picker" placeholder="Select a date" [matDatepickerFilter]="dateFilter" (dateChange)="onDateSelected($event)" [(ngModel)]="date" name="date">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                              </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        Amount<input class="input--style-5" type="text" placeholder="Total Amount" name="amount" [(ngModel)]="totalAmount">
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                       Email
                                        <input class="input--style-4" type="email" placeholder="Enter your MailID" name="email" [(ngModel)]="userData">
                                    </div>
                                </div>
                                <div class="col-2">Time Slot
                                    <div class="input-group">
                                        <select class="form-select" id="time" name="time" [(ngModel)]="time" required>
                                            <option>09:00 AM</option>
                                            <option>12:00 PM</option>
                                            <option>6:00 PM</option>
                                            <option>9:00 PM</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="seat-selection">
                                <div class="row">
                                  <div class="seat-row" *ngFor="let rowIndex of generateRowIndices()">
                                    <div class="seat-column" *ngFor="let seatNumber of generateSeatNumbers(rowIndex)">
                                      <div class="seat"
                                        [class.selected]="isSeatSelected('E' + seatNumber)"
                                        [class.sold]="isSeatBooked('E' + seatNumber)"
                                        [class.disabled]="isSeatDisabled('E' + seatNumber)"
                                        (click)="toggleSeat('E' + seatNumber)">E{{ seatNumber }}
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            <div class="p-t-15">
                                <button class="btn btn-primary btn-lg" type="submit"> Book Now </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
     
		</div>