	
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
	  		<h1><a [routerLink]="['/']" class="logo">Show WIth Us</a></h1>
        <ul class="list-unstyled components mb-5">
          <li class="active">
              <a [routerLink]="['/my-dashboard']"><span class="fa fa-user mr-3"></span> Dashboard</a>
          </li>
          <li>
            <a [routerLink]="['/my-bookings']"><span class="fa fa-sticky-note mr-3"></span> My Booking</a>
          </li>
          <li>
            <a (click)="logout()"><span class="fas fa-sign-out-alt mr-3"></span> Logout</a>
          </li>
        </ul>

    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3 mb-2-6" *ngFor="let item of items; let i = index">
                        <div class="card-wrapper mb-4">
                            <div class="card-img"><img [src]="item.image" alt="{{ item.moviename }}"></div>
                            <div class="card-body">
                                <div>
                                    <a [routerLink]="['/movie-details',item._id]"><i class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h3 class="h5 mb-2"><a href="#" class="text-secondary">{{ item.moviename }}</a></h3>
                            <h4>{{ item.category }} , {{ item.language }}</h4>
                            <!-- <div class="product-rating mb-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star mr-0"></i>
                            </div> -->
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
		</div>